export(addDataToSonify)
export(checkSonify)
export(create_audioSample)
export(getPlayer)
export(linear.scale)
export(octToFreq)
export(play_audioSample)
export(playLastRendering)
export(saveLastRendering)
export(scale_dur_linear)
export(scale_pan_linear)
export(scale_pitch_linear)
export(scale_tempo_linear)
export(scale_time_linear)
export(scale_vol_linear)
export(setPlayer)
export(shape_notes)
export(sonaes)
export(sonify)
export(sonlayer)
export(sonscaling)
S3method(print,sonify)
S3method(render,audio)
S3method("+",sonify)
S3method(summary,sonify)
