export("%+%")
export("getPlayer")
export("linear.scale")
export("octToFreq")
export("playAudioRendering")
export("playLastRendering")
export("render")
export("render.audio")
export("saveLastRendering")
export("scale_dur_linear")
export("scale_pan_linear")
export("scale_pitch_linear")
export("scale_tempo_linear")
export("scale_time_linear")
export("scale_vol_linear")
export("setPlayer")
export("sonaes")
export("sonify")
export("sonscaling")
export("+.sonify")

S3method( "print", "sonify" )

import(audio)
