export(.checkSonify)
export(.checkSoundParams)
export(exp_scale)
export(.getDefaultSettings)
export(.getScore)
export(.getShapeDef)
export(.getShapeNames)
export(.getSoundParams)
export(linear_scale)
export(.octToFreq)
export(scale_attkp_continuous)
export(scale_attkp_exp)
export(scale_attkp_identity)
export(scale_decayp_continuous)
export(scale_decayp_exp)
export(scale_decayp_identity)
export(scale_dur_continuous)
export(scale_dur_exp)
export(scale_dur_identity)
export(scale_indx_continuous)
export(scale_indx_exp)
export(scale_indx_identity)
export(scale_mod_continuous)
export(scale_mod_exp)
export(scale_mod_identity)
export(scale_pan_continuous)
export(scale_pan_exp)
export(scale_pan_identity)
export(scale_pitch_continuous)
export(scale_pitch_exp)
export(scale_pitch_identity)
export(scale_tempo_continuous)
export(scale_tempo_exp)
export(scale_tempo_identity)
export(scale_time_continuous)
export(scale_time_exp)
export(scale_time_identity)
export(scale_vol_continuous)
export(scale_vol_exp)
export(scale_vol_identity)
export(shape_boxplot)
export(shape_csound)
export(shape_descriptions)
export(shape_dotplot)
export(shape_histogram)
export(shape_scatter)
export(sonaes)
export(sonfacet)
export(sonify)
export(sonlayer)
export(sonopts)
export(sonsave)
export(sonscaling)
S3method(print,sonify)
S3method("+",sonify)
S3method(summary,sonify)
